body {
  font-family: helvetica;
}

.grid {
  
}

.grid-row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 10px;
  border: 1px solid darkslategray;
  text-align: center;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
}

.radio-buttons {
  width: 100px;
}
