body {
  font-family: helvetica;
}

.grid {
  border: 1px solid hotpink;
}

.grid-row {
  display: flex;
}

.cell {
  flex: 1;
  padding: 10px;
  border: 1px solid darkslategray;
  text-align: center;
}
